a, 
a:link, 
a:visited, 
a:active,
a:hover {
	text-decoration: none;
	color: #6220B6;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

h4 {
	margin-top: 20px;
}

.container {
	max-width: 800px;
}

p,
.font-light {
	font-weight: 400px;
	font-family: 'Lato', sans-serif;
}

.spacing-top--sm {
	margin-top: 32px;
}

.spacing-top--md {
	margin-top: 64px;
}

.spacing-top--lg {
	margin-top: 128px;
}

.spacing-bottom--sm {
	margin-bottom: 32px;
}

.spacing-bottom--md {
	margin-bottom: 64px;
}

.spacing-bottom--lg {
	margin-bottom: 128px;
}


.nav {
	margin-top: 32px;
	margin-bottom: 90px;
	display: flex;
	width: 360px;
}

.nav__item {
	font-size: 18px;
	margin-right: 32px;
}

.intro {
	margin-top: 200px;
}

.intro__title {
	font-size: 48px;
}

.intro__subtitle {
	font-size: 24px;
	color: #777;
	margin-top: 16px;
	line-height: 1.6;
}

.project {
	margin-top: 64px;
	margin-bottom: 64px;
	display: flex;
}

.project__image-container {
	flex: 1;
}

.project__text-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.project__image {
	max-width: 100%;
}

.project__name {
	font-size: 36px;
	margin-top: 16px;
}

.project__tag-text {
	font-size: 14px;
	color: #FFF;
	background-color: #6220B6;
	display: inline-block;
	padding: 2px 12px;
	border-radius: 20px;
}

.project__desc {
	font-size: 20px;
	color: #555;
	margin-top: 16px;
}

.project__link {
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #6220B6;
}

.userFlow {
	max-width: 100%;
}

.design__options-subtitle {
	padding-top: 40px;
	padding-bottom: 40px;
}

@media(max-width: 575px) {
	h1 {
		font-size: 40px;
	}

	.intro__subtitle {
		font-size: 18px;
	}

	.intro__detail {
  		font-size: 15px;
  		margin-bottom: 12px;
	}

	h3 {
		font-size: 32px;
	}

	p,
	li {
		font-size: 16px;
		line-height: 1.8;
	}

	.nav__item {
		font-size: 16px;
	}

	.project {
		margin-top: 64px;
		margin-bottom: 64px;
		display: flex;
		flex-direction: column;
	}

	.project__desc {
		font-size: 18px;
	}
}